<div class="container">
  <div class="content-inner summary">
    <header>
      <h2 class="pane-title"><label>Recent Articles<label></h2>
    </header>
    <%= render partial: 'feeds/index', collection: @articles, as: :article %>
  </div>
</div>
