<div class="container">
  <div class="content-inner summary">
    <header class="center">
      <h1 class="pane-title">Recent Articles</h2>
    </header>
    <%= render partial: 'feeds/index', collection: @categories, as: :category %>
  </div>
</div>
