<div class="content-container">
  <div class="content-inner summary">
    <header>
      <h2 class="pane-title">Recent Articles</h2>
    </header>
    <%= render partial: 'feeds/index', collection: @articles, as: :article %>
  </div>
</div>
