<div class="container">
  <div class="content-inner summary">
    <header>
      <h1 class="pane-title">Articles</h1>
      <hr>
    </header>
    <%= render partial: 'articles/index', collection: @articles, as: :article %>
  </div>
</div>
