<div class="container">
  <div class="content-inner summary">
    <header class="center">
      Programming / UI / UX
      <h1 class="pane-title">Articles</h1>
    </header>
    <%= render partial: 'articles/index', collection: @articles, as: :article %>
  </div>
</div>
