<meta charset="UTF-8">
<%= stylesheet_link_tag 'application', media: 'all' %>
<div class="header">
  <div class="box-left logo"> Better Thinker </div>
  <div class="box-right">
    <div class="item">Home</div>
    <div class="item">Articles</div>
    <div class="item">Resume</div>

  </div>
</div>
