<div class="container">
  <div class="content-inner">
    <header><h1 class="pane-title">RESUME</h1></header>
    <hr>
    <div class="content-inner-main">
      <h2>Contact</h2>
      <li>Email: <a href="mailto:seolahkim.global@gmail.com">seolahkim.global@gmail.com</a></li>
      <h2>Technologies</h2>
      <li><strong>Javascript</strong> AngularJS2, BackboneJS, CoffeeScript, TypeScript</li>
      <li><strong>Style</strong> HTML5, CSS3, Sass, Less</li>
      <li><strong>Serverside</strong> Ruby, PHP</li>
      <li><strong>Tool</strong> Webpack, Git, Mercurial, Travis CI</li>
      
      <h2>History</h2>
      <li><a href="#" target="_blank">Minkabu.inc</a> Web application developer (2016.11 ~ current)</li>
      <li><a href="#" target="_blank">GalileoScope</a>  Web application developer (2015.3 ~ 2016.10)</li>
      
      <h2>Projects</h2>
      <li> QS-X (customer survey & report service)
        <ul>
        <li>2016.05 ~ 2016.11</li>
        <li>MySQL, Ruby on Rails, AngularJS2</li>
        </ul>
      </li>
      <h2>ETC</h2>
      <li>JLPT N1</li>
    </article>
  </div>
</div>
