.header {
  color: #202121;
  padding: 1rem;
  font-size: 1rem;
  border-bottom: 1px solid #E6EAEA;
  height: 40px;
  line-height: 40px;

  .item {
    padding: 0 23px;
  }

  .logo {
    font-weight: 800;
  }
}

.box-left {
  float: left;
}

.box-right {
  float: right;
  display: flex;
}