a {
  text-decoration: none;  
  color: $text-color;

}

.container {
  margin: 0 0 100px 0;
}

.box-left {
  float: left;
}

.box-right {
  float: right;
  display: flex;
}

.clear {
  clear: both;
}

.footer-box {
  width: 25%;
  text-align: left;
  float: left;
  .title { 
    font-weight: 800;
    font-size: 19px;
  }

  .category {
    font-weight: 800;
  }
  
  .sub-category {
    padding: 0 0 0 15px;
  }
}

.content-inner {
   padding: 1.5rem 0;
   position: relative;
   width: 100%;
   max-width: 1000px;
   margin: auto;
}

.content-inner.summary {
   max-width: 630px;
}
