nav.header {
  color: $text-color;
  font-size: 1rem;
  border-bottom: 1px solid #dcdcdc;
  height: 80px;
  line-height: 80px;
  .item a {
    display: inline-block; 
    color: $text-color;
    padding: 0 23px;
    &:hover {
      color: $active-color;
      border-bottom: solid 2px $active-color;
      }
  }

}

