.header {
  color: $text-color;
  font-size: 1rem;
  border-bottom: 1px solid #E6EAEA;
  height: 80px;
  line-height: 80px;
  .item a {
    display: inline-block; 
    padding: 0 23px;
    &:hover {
      color: $active-color;
      border-bottom: solid 2px $active-color;
      }
  }

  .logo {
    color: #4f5254;
    font-size: 1.2rem;
    font-weight: 500;
    padding: 0 25px;
    letter-spacing: 0.06em;

    img {
      width: 50px;
      margin: 0 5px 0 0;
      display: inline-block;
      vertical-align: middle;
    }
  }
}

