.post-header {
  color: #545454;
  padding: 0 0 0.9em 0;
}

.summary-box {
  padding: 2em 0;
  border-bottom: 1px solid #cccccc;

  &:last-child {
    border-bottom: 0;  
  }
}

.summary-title {
  font-weight: 400;
  font-size: 1.3em;
}

.summary-content {
  width: 500px;
}

.article-content {
  padding-top: 0.5em 
}
