$text-color: #202121;
$text-color-darken: darken($text-color, 50%);
 
$theme-color: #54a2d8;

$logo-base-color: #45494c;
$link-base-color: darken($theme-color, 10%);

$active-color: darken($theme-color, 30%);
$pale-color: gray;

$background-default-color: #f7f7f7;

$small-font-size: 13px;
