$text-color: #45494c;
$text-color-darken: darken($text-color, 50%);
 
$theme-color: #54a2d8;

$logo-base-color: #45494c;
$link-base-color: darken($theme-color, 10%);

$active-color: darken($theme-color, 25%);
$pale-color: gray;

$small-font-size: 13px;

$yellow-highlight-color: #fffeda;
