<!DOCTYPE html>
<html lang="ko">
  <head>
    <title>Daily Engineering</title>
  </head>
  <body>
    <%= render partial: 'shared/header' %>
    <%= yield %>
    <%= render partial: 'shared/footer' %>
  </body>
</html>
